.jumbotron {
    margin: 0px !Important;
}

li.nav-item {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
    cursor: pointer;
}

li.active.nav-item {
    background: #f8fbfe;
    border-top: 1px solid #e9e9e9;
    border-bottom: 0px !important;
}

li.active.nav-item a {
    color: #061626;
    font-size: 16px;
    font-family: 'sans-serif';
    font-weight: 500;
}

li.nav-item a {
    color: #2e3236;
    font-size: 15px;
    font-family: 'sans-serif';
    font-weight: 100;
}

.nav-tabs {
    border: 0px !important;
}