.container h1 {
    text-align: center;
    font-size: 30px;
    color: #188eab;
    padding: 20px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form.row {
    text-align: center;
}

input.form-control {
    text-align: center;
    padding: 20px;
    margin: 10px;
}

button {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0.5px solid #1f9be1;
    background: #3eb7ff;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}